@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: roboto,sans-serif;
}

body{
    margin: 0;
    height:100vh;
}

/*TOP*/
.top{
    display: flex;
    flex-direction: column;
    padding: 16px 220px;
}

/*HEADER*/
ul{
    display: flex;
    margin: 0;
    list-style: none;
    gap: 16px;
}

.header-logo{
    font-size: 24px;
    font-weight: 900;
}

/* HERO*/
.hero{
    margin: 128px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-text-button{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    max-width: 500px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.img-placeholder{
    background-color: #ffffffbd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
    flex-shrink: 0;
}

/*INFORMATION*/
.information{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    margin: 42px;
}

.information-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.informations-container{
    display: flex;
    gap: 20px;
}

.information-unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    gap: 8px;
}

.info-img{
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    border: 6px;
    border-radius: 25px;
    border-style: solid;
    border-color: #3882f6;
}

.info-text{
    font-size: 18px;
    text-align: center;
    color: #747474;
}


/* SHARED*/
.top, .footer{
    background-color: #1f2937;
    color: #f9faf8;
}

.header, .hero{
    display: flex;
    justify-content: space-between;
}

.hero-secondary-text, ul{
    font-size: 18px;
    color: #e5e7eb;
}

.button, .inverted-button{
    max-width: 100px;
    padding: 8px;
    color: #f9faf8;
}